// Establish base colors using CSS Variables
:root {
  --color-light-100: #f5f5f5;
  --color-light-150: #e1e7eb;
  --color-light-200: #a5bbca;

  --color-dark-100: #556c77;
  --color-dark-150: #263640;
  --color-dark-200: #1c2830;

  --color-accent-100: #f4bb44;
  --color-accent-200: #f2ad18;
  font-size: 18px;
}

// Assigns Light Theme colors to appropriate colors
// .light class is on HTML element by default
.light {
  --bg-primary: var(--color-light-100); //#F5F5F5
  --bg-secondary: var(--color-light-150); //#C6D3DD
  --bg-tertiary: var(--color-light-200); //#a5bbca
  --text-primary: var(--color-dark-200); //#1C2830
  --text-secondary: var(--color-dark-100); //#556C77
  --text-accent: var(--color-accent-200); // #f2ad18
}

// Assigns Dark Theme colors to appropriate colors
// .dark class is added onto the HTML element via theme-change.js in the js folder
.dark {
  --bg-primary: var(--color-dark-200); //#1C2830;
  --bg-secondary: var(--color-dark-150); //#556C77;
  --bg-tertiary: var(--color-dark-100); //#263640;
  --text-primary: var(--color-light-100); //#F5F5F5;
  --text-secondary: var(--color-light-200); //#C6D3DD;
  --text-accent: var(--color-accent-100); // #f4bb44
}

// Assign classes with proper CSS rules and appropriate variables for themes
// Background Colors
.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.bg-accent {
  background-color: var(--color-accent-100);
}

// Text styling
.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-accent {
  color: var(--text-accent);
}

.light-font {
  font-weight: 300;
}

.p-lg {
  font-size: 1.15rem;
}

.p-xl {
  font-size: 1.25rem;
}

.block {
  display: block;
}

.i-block {
  display: inline-block;
}

.styled-link {
  &:hover {
    text-decoration: none;
  }
}

.link-button {
  border-radius: 5em;
  padding: 0.75em 1.5em;
}

.m-auto {
  margin: 0 auto;
}


// Basic body styles
@font-face {
  font-display: swap;
  font-family: "Outfit";
  src: url(/fonts/outfit.ttf);
}

* {
  font-family: "Outfit", Helvetica, Arial, sans-serif;
}



body {
  background: var(--bg-primary);
  max-width: 90rem;
  padding: 0 1rem;

  --duration: 0.7s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

header,
body {
  max-width: 85rem;
}

section,
aside {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  padding: 2rem;
}

section {
  scroll-margin-top: 3rem;
}

img {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

figure > img {
  margin-bottom: 0;
}

figcaption {
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
  text-align: center;

  small > a {
    color: inherit;
    font-weight: normal;
  }
}

ul > :last-child {
  margin-bottom: 1rem;
}

li > p {
  margin-bottom: 0;
}

p {
  max-width: 35rem;
  margin-bottom: 1.5rem;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  > a,
  small > a {
    color: var(--text-primary);
    font-weight: bolder;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p,
a,
label {
  color: var(--text-secondary);
}

li {
  margin-left: 2rem;

  &::marker {
    color: var(--text-secondary);
  }
}

h1,
h2,
h3 {
  color: var(--text-primary);
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 1em;

  &:not(:first-child) {
    margin-top: 1.5em;
  }
}

button {
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  line-height: 0;
}

i {
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  line-height: 0;
}

/*-----Specific Styling-----*/
.nav-container {
  padding-top: 1.5rem;
  a {
    text-underline-offset: 0.25rem;
  }
  .nav {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    h1 > a {
      color: var(--text-primary);
    }

    .navlist-container {
      ul {
        display: flex;

        li {
          margin-left: 0;
          margin-bottom: 0;
          a {
            display: block;
            height: 100%;
            transition: color 0.3s ease;
            width: 100%;

            &:hover {
              color: var(--text-primary);
            }
          }
        }
      }
    }

    #nav-btn-container {
      align-items: center;
      display: flex;
      gap: 1rem;

      #theme-change {
        border: 2px solid var(--text-secondary);
        border-radius: 100%;
        color: var(--text-primary);
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        transition: border-color 0.3s ease;

        &:hover {
          border-color: var(--text-primary);
        }
      }

      #hamburger {
        display: hidden;
        padding: 0;

        .bar {
          display: hidden;
        }
      }
    }
  }
}
.header-container {
  margin-top: 3rem;

  .header {
    .header-image-container {
      .header-image {
        width: 100%;
      }
    }

    .header-text {
      margin-top: 6rem;

      .header-links {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem 0;

        a {
          border: 2px solid transparent;
          color: var(--text-primary);
          display: block;
          text-align: center;
          transition: background-color 0.3s ease, border 0.3s ease;
        }

        a:first-of-type {
          background-color: var(--color-accent-100);
          color: var(--color-dark-200);

          &:hover {
            background-color: var(--color-accent-200);
            border-color: var(--text-primary);
          }
        }

        a:last-of-type {
          border-color: var(--text-secondary);

          &:hover {
            border-color: var(--text-primary);
          }
        }
      }
    }
  }
}

.read-more-container {
  display: flex;
  gap: 0 0.5rem;
  margin-bottom: 3rem;
  width: 100%;

  a {
    display: flex;
    align-items: center;
  }

  a:last-of-type {
    font-size: 1.5rem;
  }

  a,
  i {
    transition: color 0.3s ease,
                transform .7s ease;
  }

  &:hover {
    a,
    i {
      color: var(--text-primary);
      text-decoration: none;

      &:last-of-type {
        transform: translateX(.25rem);
      }
    }
  }
}

#about {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr;

  #profile-img-container {
    img {
      border-radius: 50%;
      display: block;
      max-width: 100%;
    }
  }
}

#projects {
  background-color: var(--bg-secondary);
  .wrapper {
    .tabs {
      .projects-header {
        .tech-list-container {
          margin-bottom: 3rem;
          .tech-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 1rem;
            max-width: 100%;

            li {
              background-color: var(--bg-tertiary);
              border-radius: 5rem;
              font-size: 0.75rem;
              padding: 0.75em 1.5em;
              margin-left: 0;
              text-align: center;

              &:last-of-type {
                margin-bottom: 0;
              }

              p {
                color: var(--bg-primary);
              }
            }
          }
        }
      }
      .tablist {
        border-bottom: 1px solid var(--text-secondary);
        display: flex;
        gap: 0 1.5rem;
        margin-bottom: 1.5rem;

        // Reset button styling
        button {
          margin: 0;
          padding: 0;
        }

        button {
          align-items: center;
          border-bottom: 2px solid transparent;
          color: var(--text-secondary);
          display: flex;
          font-size: 1rem;
          justify-content: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
          transition: border-color 0.3s ease, color 0.3s ease;

          &:hover {
            color: var(--text-primary);
          }

          i {
            font-size: 0rem;
            opacity: 0;
          }
        }

        button[aria-selected='true'] {
          border-color: var(--text-primary);
          color: var(--text-primary);
        }
      }

      .project-panel {
        .project-links {
          display: flex;
          flex-direction: column;
          gap: 0.75rem 0;

          a {
            border: 2px solid var(--text-secondary);
            color: var(--text-secondary);
            font-size: 0.9rem;
            text-align: center;
            transition: border-color 0.3s ease;
            transition: background-color 0.3s ease, border-color 0.3s ease,
              color 0.3s ease;

            &:first-of-type {
              background-color: var(--text-secondary);
              color: var(--bg-primary);

              &:hover {
                background-color: var(--text-primary);
                color: var(--bg-primary);
              }
            }

            &:hover {
              border-color: var(--text-primary);
              color: var(--text-primary);
            }
          }
        }
      }
    }
  }
}

#blog-container {
  #blog-articles-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 0;

    div {
      background-color: var(--bg-secondary);
      border-radius: 0.5rem;
      padding: 1rem;
      .blog-image {
        max-width: 100%;
      }

      h3,
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }

  .read-more-container {
    margin-top: 1.5rem;
  }
}

#cta {
  align-items: center;
  background-color: var(--bg-secondary);
  display: grid;
  justify-content: center;

  a {
    background-color: var(--color-accent-100);
    border: 2px solid transparent;
    color: var(--color-dark-200);
    display: block;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease, border 0.3s ease;

    &:hover {
      background-color: var(--color-accent-200);
      border-color: var(--text-primary);
    }
  }

  strong {
    color: var(--color-dark-200);
    padding: 0.25em 0.5em;
  }
}

#footer {
  border-top: 1px solid var(--bg-secondary);
  margin-top: 6rem;
  padding-top: 3rem;
  padding-bottom: 1rem;

  p > strong {
    color: var(--text-primary);
  }

  p:first-of-type {
    margin-bottom: 0;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    #footer-name {
      p {
        font-size: 1.25rem;

        &:not(:first-of-type) {
          color: var(--text-secondary);
        }
      }
      #social-links {
        align-items: baseline;
        display: flex;
        gap: 0 1.5rem;

        a {
          font-size: 2.5rem;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: var(--text-primary);
          }
        }
      }
    }

    .two-col-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 1.5rem;

      a {
        color: var(--text-secondary);
        text-underline-offset: 0.25rem;
        transition: color 0.3s ease;
        &:hover {
          color: var(--text-primary);
        }
      }

      #contact {
        a {
          display: block;
        }
      }

      #sitemap {
        ul {
          padding-left: 0;
          margin-top: 0;

          li {
            margin-left: 0;
            a {
              display: block;
            }
          }
        }
      }
    }

    #newsletter {
      #revue-embed {
        form {
          div {
            input {
              border-radius: 0.5rem;
              border: none;
              margin-top: 0.75rem;
              margin-bottom: 1.5rem;
              padding: 2rem;
              font-size: inherit;
              color: var(--text-primary);
              background-color: var(--bg-secondary);
              width: 100%;
            }

            #member_submit {
              background-color: var(--text-secondary);
              border-radius: 5em;
              color: var(--bg-primary);
              cursor: pointer;
              transition: background-color 0.3s ease;
              padding: 0;
              padding: 0.75em 1.5em;

              &:hover {
                background-color: var(--text-primary);
              }
            }
          }
        }

        .revue-form-footer {
          > p {
            line-height: 1;
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}

.form-section {
  background: var(--bg-secondary);
  .form-container {
    width: 100%;
    .form {
      label {
        color: var(--text-primary);
      }

      input,
      textarea {
        border-radius: 0.5rem;
        border: none;
        display: block;
        margin-top: 0.75rem;
        margin-bottom: 1.5rem;
        padding: 2rem;
        font-size: inherit;
        color: var(--text-primary);
        background-color: var(--bg-primary);
        width: 100%;
      }

      textarea {
        height: 25vh;
        resize: none;
      }

      button {
        border-radius: 5em;
        border: 2px solid transparent;
        background-color: var(--color-accent-100);
        color: var(--color-dark-200);
        display: block;
        margin-top: 3rem;
        text-align: center;
        transition: background-color 0.3s ease, border 0.3s ease;
        padding: 0;
        padding: 1.5em 3em;
        width: 100%;

        &:hover {
          background-color: var(--color-accent-200);
          border-color: var(--text-primary);
        }
      }
    }
  }
}

#calendly-link {
  border: 2px solid transparent;
  background-color: var(--color-accent-100);
  color: var(--color-dark-200);
  display: block;
  margin-top: 3rem;
  text-align: center;
  transition: background-color 0.3s ease, border 0.3s ease;

  &:hover {
    background-color: var(--color-accent-200);
    border-color: var(--text-primary);
  }
}
