:root {
  --color-light: #f5f5f5;
  --color-light-100: #e6ebef;
  --color-light-200: #c6d3dd;
  --color-dark: #1c2830;
  --color-dark-100: #263640;
  --color-dark-200: #a5bbca;
  --cta: #f4bb44;
}

.light {
  --bg-primary: var(--color-light);
  --bg-secondary: var(--color-light-100);
  --border: var(--color-light-100);
  --text-primary: var(--color-dark);
  --text-secondary: var(--color-dark-100);
  --text-tertiary: var(--color-dark-200);
  --accent: var(--cta);
}

.dark {
  --bg-primary: var(--color-dark);
  --bg-secondary: var(--color-dark-100);
  --border: var(--color-dark-100);
  --text-primary: var(--color-light);
  --text-secondary: var(--color-light-100);
  --text-tertiary: var(--color-light-200);
  --accent: var(--cta);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-accent {
  background-color: var(--cta);
}

hr {
  background-color: var(--border);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--text-tertiary);
}

.text-accent {
  color: var(--cta);
}

a {
  color: inherit;
}

.m-auto {
  margin: 0 auto;
}

.padding-x {
  padding-left: 5vw;
  padding-right: 5vw;
}

.padding-x-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-x-2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.padding-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-y-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding-y-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-primary);
  max-width: 1200px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }
}

.underline {
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 3px
    no-repeat;
  transition: 0.3s ease-out;
}
.underline:hover {
  --d: 100%;
}

li {
  list-style: none;
}

.nav-container {
  .nav {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    .navlist-container {
      ul {
        display: flex;
      }
    }
  }
}

#projects {
  background-color: var(--bg-secondary);
}

.project-image {
  background-color: tomato;
  height: 6rem;
  width: 10rem;
}

.blog-image {
  background-color: cornflowerblue;
  height: 6rem;
  width: 10rem;
}

aside {
  background-color: var(--bg-secondary);
}

.footer-container {
  border-top: 1px solid var(--border);
}
