/* Establish base colors using CSS Variables */
:root {
  --color-light-100: #f0f6fa;
  --color-light-150: #D9E8F2;
  --color-light-200: #a5bbca;

  --color-dark-100: #394C56;
  --color-dark-150: #263640;
  --color-dark-200: #1c2830;

  --color-accent-100: #f4bb44;
  --color-accent-200: #f2ad18;
  font-size: 18px;
}

/* Assigns Light Theme colors to appropriate colors */
/* .light class is on HTML element by default */
html[data-theme='light']{
  --bg-primary: var(--color-light-100);
  --bg-secondary: var(--color-light-150);
  --bg-tertiary: var(--color-light-200);
  --text-primary: var(--color-dark-200);
  --text-secondary: var(--color-dark-100);
  --text-accent: var(--color-accent-200);
}

/* html[data-theme='light'] #home-header-image {
  background-image: url(/images/portfolio-image-light-theme.webp);
  background-size: contain;
} */

/* Assigns Dark Theme colors to appropriate colors */
/* .dark class is added onto the HTML element via theme-change.js in the js folder */
html[data-theme='dark'] {
  --bg-primary: var(--color-dark-200);
  --bg-secondary: var(--color-dark-150);
  --bg-tertiary: var(--color-dark-100);
  --text-primary: var(--color-light-100);
  --text-secondary: var(--color-light-200);
  --text-accent: var(--color-accent-100);
}

html[data-theme='dark'] img {
  filter: brightness(.8) saturate(1.25);
}

/* html[data-theme='dark'] #home-header-image {
  background-image: url(/images/portfolio-image-dark-theme.webp);
  background-size: contain;
} */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media only screen and (max-width: 1023px) {
  #mobile-navlist {
    margin-top: 1.85rem;
    justify-content: space-around;
  }

  .nav-list {
    background-color: var(--bg-secondary);
    flex-direction: column;
    left: -100%;
    opacity: 0;
    position: fixed;
    text-align: center;
    transition: left 0.3s ease, opacity 0.3s ease;
    width: 100%;
    z-index: 9999;
  }

  .nav-list.active {
    left: 0;
    opacity: 1;
  }

  .nav-item:not(:last-child) {
    border-bottom: 1px solid var(--text-secondary);
  }

  .nav-link {
    color: var(--text-primary);
    padding: 1.5rem 1.5rem;
    text-align: left;
  }

  .nav-link:hover {
    text-decoration: none;
  }

  #hamburger {
    display: block;
  }

  .bar {
    background-color: var(--text-primary);
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 25px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #cta > p {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 1.802rem;
  }

  h2 {
    font-size: 1.602rem;
  }

  h3 {
    font-size: 1.424rem;
  }

  article > figure,
  img {
    max-width: 35rem;
  }

  .header-container .header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4vw;
  }

  .header-container .header .header-text {
    margin-top: 0;
  }

  .header-links a {
    max-width: 11em;
  }

  #about {
    align-items: flex-start;
    display: flex;
    gap: 0 4vw;
  }

  #about-text-container {
    display: flex;
    flex-direction: column;
  }

  #projects .wrapper .tabs p {
    max-width: 100%;
  }

  #projects .wrapper .tabs .projects-header .tech-list-container .tech-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #projects > #projects-container > #projects-tab-container button {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
  }

  #projects > #projects-container > #projects-tab-container button > i {
    display: inline-block;
    font-size: 2rem;
  }

  .project-image {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 75%;
  }

  #projects .wrapper .tabs .project-panel .project-links {
    gap: 0 0.75rem;
    flex-direction: row;
  }

  #blog #blog-articles-container {
    grid-template-columns: 1fr 1fr;
    gap: 0 1.5rem;
  }

  #blog #blog-articles-container div {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  #blog #blog-articles-container div:hover {
    background-color: var(--bg-secondary);
  }

  #cta {
    margin: 0 auto;
    padding: 4vw;
    max-width: 65%;
  }

  #footer .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form-section {
    margin: 0 auto;
    padding: 4vw;
    max-width: calc(630px + 2rem);
  }

  .form-section .form-container .form input,
  .form-section .form-container .form textarea {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .form-section .form-container .form button {
    max-width: 50%;
  }

  #calendly-link {
    max-width: 80%;
  }
}

/*-----1024px or wider styling-----*/
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  .nav-container {
    padding-top: 3rem;
  }

  .nav-container .nav div h1 {
    font-size: 2rem;
  }

  .nav-list {
    gap: 2em;
  }

  .header-container .header {
    gap: 0;
  }

  .header-image {
    max-width: 90%;
  }

  #projects .wrapper {
    padding: 4vw;
  }

  #projects .wrapper .tabs {
    display: grid;
    grid-column-gap: 4vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #projects .wrapper .projects-header {
    grid-area: 1 / 1 / 2 / 2;
  }
  #projects .wrapper .tabs .tablist {
    border: none;
    display: grid;
    justify-content: start;
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 0;
  }

  #projects .wrapper .tabs .tablist button {
    border: none;
    color: var(--text-secondary);
    font-size: 2rem;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease;
  }

  #projects .wrapper .tabs .tablist button i {
    font-size: 2rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  #projects .wrapper .tabs .tablist button[aria-selected='true'] {
    opacity: 1;
  }

  #projects .wrapper .tabs .tablist button[aria-selected='true'] i {
    color: var(--text-primary);
    opacity: 1;
    transform: translateX(2rem);
  }
  #projects .wrapper .tabs .project-panel {
    place-items: center;
    grid-area: 1 / 2 / 3 / 3;
    min-height: 50vh;
  }
  .project-image {
    margin-top: 0;
    max-width: 100%;
  }

  #projects .wrapper .tabs .project-panel .project-name {
    line-height: 1;
    margin-bottom: 2rem;
  }

  #projects .wrapper .tabs .project-panel .project-links a {
    text-align: center;
    transition: border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease,
      color 0.3s ease;
  }

  #blog #blog-articles-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #cta {
    max-width: 50%;
  }

  #cta a {
    max-width: 11em;
  }

  #member_submit {
    max-width: 50%;
  }

  #calendly-link {
    max-width: 50%;
  }
}
