/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* @media (prefers-color-scheme: dark) {
  .dark {
    --bg-primary: var(--color-dark);
    --bg-secondary: var(--color-dark-100);
    --bg-tertiary: var(--color-dark-150);
    --border: var(--color-dark-100);
    --text-primary: var(--color-light);
    --text-secondary: var(--color-light-100);
    --text-tertiary: var(--color-light-200);
    --accent: var(--cta);
  }
}

@media (prefers-color-scheme: light) {
  .light {
    --bg-primary: var(--color-light);
    --bg-secondary: var(--color-light-100);
    --bg-tertiary: var(--color-light-150);
    --border: var(--color-light-100);
    --text-primary: var(--color-dark);
    --text-secondary: var(--color-dark-100);
    --text-tertiary: var(--color-dark-200);
    --accent: var(--cta);
  }
} */

@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    left: -100%;
    flex-direction: column;
    background-color: var(--bg-tertiary);
    width: 100%;
    transition: 0.3s ease;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
  }

  .nav-list.active {
    left: 0;
  }

  .nav-item {
    border-bottom: 1px solid var(--text-tertiary);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .nav-link {
    color: var(--text-primary);
  }

  #nav-btn-container {
    gap: 1rem;
  }

  #hamburger {
    display: block;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-primary);
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (min-width: 769px) {
  #header {
    grid-template-columns: 1fr 1fr;
    min-height: 40rem;
  }

  #footer .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
