:root {
  --color-light-100: #f5f5f5;
  --color-light-150: #cdd8e0;
  --color-light-200: #a5bbca;
  --color-dark-100: #556c77;
  --color-dark-150: #263640;
  --color-dark-200: #1c2830;
  --color-accent-100: #f4bb44;
  --color-accent-200: #f2ad18;
  font-size: 18px;
}

.light {
  --bg-primary: var(--color-light-100);
  --bg-secondary: var(--color-light-150);
  --bg-tertiary: var(--color-light-200);
  --text-primary: var(--color-dark-200);
  --text-secondary: var(--color-dark-100);
}

.dark {
  --bg-primary: var(--color-dark-200);
  --bg-secondary: var(--color-dark-150);
  --bg-tertiary: var(--color-dark-100);
  --text-primary: var(--color-light-100);
  --text-secondary: var(--color-light-200);
}

section,
aside {
  border-radius: 0.5rem;
}

.light-font {
  font-weight: 300;
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.bg-accent {
  background-color: var(--color-accent-100);
}

hr {
  background-color: var(--bg-tertiary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

a {
  color: inherit;
}

p {
  max-width: 35rem;
}

.p-lg {
  font-size: 1.15rem;
}

.p-xl {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

button,
i {
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  line-height: 0;
}

.block {
  display: block;
}

.i-block {
  display: inline-block;
}

* {
  font-family: 'Outfit', Helvetica, Arial, sans-serif;
}

body {
  max-width: 140ch;
  --duration: 0.7s;
  --timing: ease;
  transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

main section p a:hover {
  text-underline-offset: 0;
}

li {
  list-style: none;
}

.nav-container {
  padding-top: 1.5rem;
}

.nav-container .nav {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.nav-container .nav .navlist-container ul {
  display: flex;
  padding-left: 0;
}

.nav-container .nav .navlist-container ul li a {
  display: block;
  height: 100%;
  transition: color 0.3s ease;
  width: 100%;
}

.nav-container .nav .navlist-container ul li a:hover {
  color: var(--text-primary);
}

.nav-container .nav #nav-btn-container {
  align-items: center;
  display: flex;
}

.nav-container .nav #nav-btn-container #theme-change {
  border: 2px solid var(--text-secondary);
  border-radius: 100%;
  color: var(--text-primary);
  font-size: 1.5rem;
  text-align: center;
  transition: border-color 0.3s ease;
}

.nav-container .nav #nav-btn-container #theme-change:hover {
  border-color: var(--text-primary);
}

.nav-container .nav #nav-btn-container #hamburger {
  display: hidden;
  padding: 0;
}

.nav-container .nav #nav-btn-container #hamburger .bar {
  display: hidden;
}

#header {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 3rem;
}

#header #header-text h2 {
  margin-top: 0;
}

#header #header-text #header-links {
  padding-top: 1.5rem;
}

#header #header-text #header-links a {
  border: 2px solid transparent;
  border-radius: 15rem;
  display: block;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, border 0.3s ease;
  width: 10rem;
}

#header #header-text #header-links a:first-of-type {
  background-color: var(--color-accent-100);
  border-color: var(--color-accent-200);
  color: var(--color-dark-200);
  margin-bottom: 1rem;
}

#header #header-text #header-links a:first-of-type:hover {
  background-color: var(--color-accent-200);
  border-color: var(--color-dark-200);
}

#header #header-text #header-links a:last-of-type {
  border-color: var(--text-secondary);
  color: var(--text-primary);
}

#header #header-text #header-links a:last-of-type:hover {
  border-color: var(--text-primary);
}

.read-more-container {
  display: flex;
  width: 100%;
}

.read-more-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.read-more-container a:last-of-type {
  color: blue;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.read-more-container a,
.read-more-container i {
  transition: color 0.3s ease;
}

.read-more-container:hover a,
.read-more-container:hover i {
  color: var(--text-primary);
}

#about {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4vh 0;
}

#about #profile-img-container img {
  border-radius: 50%;
  display: block;
  max-width: 100%;
}

#about #about-text-container h2 {
  margin: 0;
  padding-bottom: 1.5rem;
}

#projects .wrapper {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#projects .wrapper .tabs .tablist {
  border-bottom: 1px solid var(--text-secondary);
  display: flex;
  gap: 0 1.5rem;
  margin-bottom: 1rem;
}

#projects .wrapper .tabs .tablist button {
  margin: 0;
  padding: 0;
}

#projects .wrapper .tabs .tablist button {
  border-bottom: 2px solid transparent;
  color: var(--text-secondary);
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: border-color 0.3s ease, color 0.3s ease;
}

#projects .wrapper .tabs .tablist button:hover {
  color: var(--text-primary);
}

#projects .wrapper .tabs .tablist button[aria-selected='true'] {
  border-color: var(--text-primary);
  color: var(--text-primary);
}

#projects .wrapper .tabs .project-panel {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#projects .wrapper .tabs .project-panel .project-image {
  border-radius: 0.5rem;
  width: 50%;
}

#projects .wrapper .tabs .project-panel .project-name {
  line-height: 0;
  margin-bottom: 2rem;
}

#projects .wrapper .tabs .project-panel p:last-of-type {
  margin-bottom: 1.5rem;
}

#projects .wrapper .tabs .project-panel .project-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

#projects .wrapper .tabs .project-panel .project-links a {
  border: 2px solid var(--text-secondary);
  border-radius: 15rem;
  color: var(--text-secondary);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: border-color 0.3s ease;
  width: 4rem;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

#projects .wrapper .tabs .project-panel .project-links a:first-of-type {
  background-color: var(--text-secondary);
  color: var(--bg-primary);
}

#projects .wrapper .tabs .project-panel .project-links a:first-of-type:hover {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}

#projects .wrapper .tabs .project-panel .project-links a:hover {
  border-color: var(--text-primary);
  color: var(--text-primary);
  text-decoration: none;
}

#blog-container {
  padding-bottom: 6rem;
}

#blog-container > p > a {
  font-weight: bolder;
  transition: color 0.3s ease;
}

#blog-container > p > a:hover {
  color: var(--text-primary);
  text-decoration: underline;
}

#blog-container a:hover {
  text-decoration: none;
}

#blog-container #blog-articles-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 0;
  margin-top: 2.5rem;
}

#blog-container #blog-articles-container div {
  border-radius: 0.5rem;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

#blog-container #blog-articles-container div:hover {
  background-color: var(--bg-secondary);
}

#blog-container #blog-articles-container div .blog-image {
  border-radius: 0.5rem;
  transition: border-radius 0.3s ease;
  width: 100%;
}

#blog-container #blog-articles-container h3 {
  margin-bottom: 0;
}

#blog-container #blog-articles-container p {
  margin-top: 0;
}

#cta {
  align-items: left;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding-bottom: 2rem;
}

#cta a {
  background-color: var(--color-accent-100);
  border: 2px solid transparent;
  border-radius: 15rem;
  color: var(--color-dark-200);
  display: block;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, border 0.3s ease;
  width: 10rem;
}

#cta a:hover {
  background-color: var(--color-accent-200);
  border-color: var(--color-dark-200);
}

#footer .footer-container {
  border-top: 1px solid var(--border);
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-top: 6rem;
  padding-top: 3rem;
}

#footer .footer-container > div > p:first-of-type,
#footer .footer-container > div > div > p:first-of-type {
  font-weight: bolder;
}

#footer .footer-container #footer-name p {
  font-size: 1.25rem;
  margin: 0;
}

#footer .footer-container #footer-name p:not(:first-of-type) {
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

#footer .footer-container #footer-name #social-links {
  align-items: baseline;
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

#footer .footer-container #footer-name #social-links a {
  font-size: 1.75rem;
  text-decoration: none;
}

#footer .footer-container .two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#footer .footer-container .two-col-grid a {
  color: var(--text-secondary);
  transition: color 0.3s ease;
}

#footer .footer-container .two-col-grid a:hover {
  color: var(--text-primary);
}

#footer .footer-container .two-col-grid #contact > p,
#footer .footer-container .two-col-grid #sitemap > p {
  margin-bottom: 0.5rem;
}

#footer .footer-container .two-col-grid #contact a {
  display: block;
}

#footer .footer-container .two-col-grid #contact a:not(:last-of-type) {
  padding-bottom: 0.25rem;
}

#footer .footer-container .two-col-grid #sitemap ul {
  padding-left: 0;
  margin-top: 0;
}

#footer .footer-container .two-col-grid #sitemap ul li a {
  display: block;
}

#footer .footer-container .two-col-grid #sitemap ul li:not(:last-of-type) {
  padding-bottom: 0.25rem;
}

#footer .footer-container #newsletter #revue-embed form div label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

#footer .footer-container #newsletter #revue-embed form div input {
  border-radius: 0.5rem;
  border: none;
  padding: 2rem;
  font-size: inherit;
  color: var(--text-primary);
  background-color: #e1e7eb;
}

#footer .footer-container #newsletter #revue-embed form div #member_submit {
  background-color: var(--text-secondary);
  border-radius: 10rem;
  color: var(--bg-primary);
  cursor: pointer;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
}

#footer .footer-container #newsletter #revue-embed form div #member_submit:hover {
  background-color: var(--text-primary);
}

#footer .footer-container #newsletter #revue-embed form div:not(:first-of-type) {
  padding-top: 1rem;
}

#footer .footer-container #newsletter #revue-embed .revue-form-footer > p {
  line-height: 1;
  margin: 0;
}

#footer .footer-container #newsletter #revue-embed .revue-form-footer a {
  text-underline-offset: 0;
}

#footer #legal p a {
  text-underline-offset: 0;
}
